<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Wildlife Conservation Network</string>
	<string>Puppies Behind Bars</string>
	<string>Equal Justice Institute</string>
	<string>Feeding America</string>
	<string>Hour Women</string>
	<string>Smithsonian Institute</string>
	<string>Step Up For Students</string>
	<string>Amazon Conservation Network</string>
	<string>Carbonfund.org</string>
	<string>Fauna &amp; Flora International, Inc</string>
	<string>Foundation of the NIH</string>
	<string>Dana-Farber Cancer Institute</string>
	<string>Red Cross</string>
	<string>Direct Relief</string>
	<string>The Carter Center</string>
	<string>The Outreach Foundation</string>
</array>
</plist>
